pipeline-git-repo: git@github.com:USERNAME/logstash-docker-pipeline.git
pipeline-branch: master
aws-access-key-id: XXX
aws-secret-access-key: YYY
aws-region-name: us-east-1
aws-pipeline-bucket: USERNAME-logstash-docker-bosh-demo-pipeline
docker-hub-email: EMAIL
docker-hub-username: USER
docker-hub-password: PASS
docker-hub-task-image: docker:///drnic/logstash-docker-pipeline
docker-create-hub-task-image: drnic/logstash-docker-pipeline
bosh-target: https://10.20.30.40:25555
bosh-username: admin
bosh-password: admin
bosh-stemcell-name: bosh-warden-boshlite-ubuntu-trusty-go_agent
bosh-stemcell-version: 2776
github-private-key: |
  -----BEGIN RSA PRIVATE KEY-----
  MIIEpAIBAAKCAQEAum1nnKm7vBDf83l0aDSpZ94nKz9FzEVb5nFTlNEa0w+D0/hb
  ...
  WJ/dxCz20Quzsqq7jiNbVsx19CjoNNZJwcXgE00hIe5tIcxyEdj1ShfzeXD2smOP
  DDRsY7ljzku3Ry9M7Iqn7aV7HaD+SY71RhBwAvzPmNhaLm31KbEM5Q==
  -----END RSA PRIVATE KEY-----
